<div class="mx-3">
  <div class="row justify-content-between">
    <app-main-navigaion-card
      [title]="'stock'"
      class="col-4"
    ></app-main-navigaion-card>
    <app-main-navigaion-card
      [title]="'table'"
      class="col-4"
    ></app-main-navigaion-card>
    <app-main-navigaion-card
      [title]="'employee'"
      class="col-4"
    ></app-main-navigaion-card>
    <app-main-navigaion-card
      [title]="'food'"
      class="col-4"
    ></app-main-navigaion-card>
    <app-main-navigaion-card
      [title]="'schedule'"
      class="col-4"
    ></app-main-navigaion-card>
  </div>
</div>
