.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.employee-container div {
  width: 60%;
  min-width: 300px;
}

app-employee-info-card {
  margin-top: 10px;
  width: 60%;
  min-width: 300px;
}

.employee-container div button {
  align-content: center;
  width: 15%;
  height: 56px;
}

mat-form-field {
  margin-left: 1px;
  width: 80%;
  align-content: center;
}

h2 {
  text-align: center;
  margin: 30px 0;
}
